body {
  margin: 8px;
}
body, .lb-subcaption {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}
body.fontLoaded, body.fontLoaded .lb-subcaption {
  font-family: "IBM Plex Sans", sans-serif;
}
h2, .headLink, .lb-caption {
  font-family: serif;
  font-weight: 400 !important;
  font-style: normal;
}
body.fontLoaded h2, body.fontLoaded .headLink, body.fontLoaded .lb-caption {
  font-family: "Source Serif 4", "IBM Plex Serif", serif;
}
.head {
  margin: auto;
  max-width: 350px;
  text-align: center;
  padding-bottom: 30px;
}
#LogoImage {
  padding: 20px 0 10px 0;
  max-width: min(350px, calc(100vw - 16px));
  max-height: min(150px, calc((100vw - 16px) * (3 / 7)));
}
a {
  color: black;
}
a.headLink {
  font-size: 16pt;
  text-decoration: none;
  padding: 0 10px;
}
a.headLink:hover {
    color: #ff0000;
}
.galleryContainer {
  max-width: 900px;
  margin: auto;
}
.gallery {
  clear: left;
  text-align: center;
  max-width: 900px;
  margin: auto;
  min-height: calc(100vh - 236px - 30px);
}
.galleryImg {
  padding: 5px;
  box-sizing: border-box;
}
.lb-caption {
  font-size: 16pt;
}
.lb-subcaption {
  font-size: 12pt;
}
.about {
  margin: auto;
  max-width: 900px;
  min-height: calc(100vh - 236px - 30px);
}
#ContactImage {
  display: block;
  margin: auto;
  max-width: min(450px, calc(100vw - 16px));
  max-height: min(450px, calc(100vw - 16px));
}
.aboutText {
  margin: auto;
  padding: 20px;
  max-width: 450px;
  box-sizing: border-box;
  line-height: 1.35;
}
@media only screen and (min-width: 900px) {
  .aboutText {
    float: left;
  }
  #ContactImage {
    float: left;
  }
}
.ContactLinks {
  padding-top: 15px;
  font-style: italic;
  text-align: center;
}
.ContactLinks a {
  text-decoration: none;
}
.foot {
  clear: left;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12pt;
  color: #555;
  padding-top: 20px;
  height: 30px;
}
